---
---

@import "{{ site.theme }}";
div.share-buttons-container {
  list-style: none;
  padding: 0;
}

div.share-buttons-container a{
  display: inline-block;
  min-width: 20px;
}

div.share-buttons-container .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.fa {
  color: $body-text-color;
}
h4.share-head {  
  color: $header-bg-color;
  font-weight: bold;
}